In [ ]:
#2018ASP54

In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("salaries.csv")

In [3]:
data.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [4]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   company                16 non-null     object
 1   job                    16 non-null     object
 2   degree                 16 non-null     object
 3   salary_more_then_100k  16 non-null     int64
dtypes: int64(1), object(3)
memory usage: 644.0+ bytes
None

In [5]:
data.duplicated().sum()

0

In [6]:
data.describe()

       salary_more_then_100k
count                 16.000
mean                   0.625
std                    0.500
min                    0.000
25%                    0.000
50%                    1.000
75%                    1.000
max                    1.000

In [7]:
data.shape

(16, 4)

In [8]:
data.isnull().sum()*100/data.shape[0]

company                  0.0
job                      0.0
degree                   0.0
salary_more_then_100k    0.0
dtype: float64

In [9]:
X = data.drop('salary_more_then_100k',axis=1)
y = data['salary_more_then_100k']

In [10]:
data['company'].unique()
data['job'].unique()
data['degree'].unique()

array(['bachelors', 'masters'], dtype=object)

In [11]:
from sklearn.preprocessing import LabelEncoder
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [12]:
X['company_n'] = le_company.fit_transform(X['company'])
X['job_n'] = le_job.fit_transform(X['job'])
X['degree_n'] = le_degree.fit_transform(X['degree'])
X

       company                  job     degree  company_n  job_n  degree_n
0       google      sales executive  bachelors          2      2         0
1       google      sales executive    masters          2      2         1
2       google     business manager  bachelors          2      0         0
3       google     business manager    masters          2      0         1
4       google  computer programmer  bachelors          2      1         0
5       google  computer programmer    masters          2      1         1
6   abc pharma      sales executive    masters          0      2         1
7   abc pharma  computer programmer  bachelors          0      1         0
8   abc pharma     business manager  bachelors          0      0         0
9   abc pharma     business manager    masters          0      0         1
10    facebook      sales executive  bachelors          1      2         0
11    facebook      sales executive    masters          1      2         1
12    facebook     business manager  bachelors          1      0         0
13    facebook     business manager    masters          1      0         1
14    facebook  computer programmer  bachelors          1      1         0
15    facebook  computer programmer    masters          1      1         1

In [13]:
X = X.drop(['company','job','degree'],axis=1)
X

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [14]:
y

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=43)

In [16]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()

In [17]:
dtc.fit(X_train,y_train)

DecisionTreeClassifier()

In [18]:
y_pred = dtc.predict(X_test)
from sklearn.metrics import accuracy_score,f1_score
print("Accuracy Score:{:.2f}%".format(accuracy_score(y_test,y_pred)*100))
print("F1 Score:",f1_score(y_test,y_pred))

Accuracy Score:75.00%
F1 Score: 0.8

In [19]:
data.iloc[2]

company                            google
job                      business manager
degree                          bachelors
salary_more_then_100k                   1
Name: 2, dtype: object

In [20]:
X.iloc[2]

company_n    2
job_n        0
degree_n     0
Name: 2, dtype: int32

In [21]:
y.iloc[2]

1

In [ ]:
if dtc.predict([[2,0,0]]) == 1:
    print("Salary is more than 100k")
else:
    print("Salary is less than 100k")

Salary is more than 100k

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(